.notification
    display: none
    margin-bottom: 30px
    padding: 20px
    position: relative

    &--error
        background-color: red

    &--warning
        background-color: yellow

    &--success
        background-color: green

    .close
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        display: block
        cursor: pointer
